/* Reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
    margin-bottom: 20px;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding:20px;
}

/* Header */
header{
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    padding: 0 10px;
}
#logo{
    height: 75px;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: #8a8a8a;
    margin-right: 20px;
}
/* Body */
.placeholder{
    position: relative;
    width: 100%;
    min-height: 500px;
    margin-bottom: 20px;
}
.placeholder img{
    width: 100%;
    height: 500px;
    margin: auto;
    border-radius: 20px;
}
.text{
    position: absolute;
    max-width: 580px;
    bottom: 70px;
    left: 50px;
    color: white;
}
h1, h2, h3{
    margin:0;
}
.blu{
    width: 100%;
    min-height:  610px;
    margin-bottom: 20px;
}
.blu .head{
    width: 100%;
    min-height: 70px;
    margin-bottom: 20px;
}
.head small{
    color:#8a8a8a
}
.blu img{
    height: 200px;
    border-radius: 20px;
    width: 100%;
}

.blu .sub{
    float: left;
    width: 25%;
    min-height: 500px;
}
.blu .middle{
    float: left;
    width: calc(50% - 30px);
    margin: auto 15px;
    min-height: 500px;
}
/* Footer */
footer{
    background-color: #8801fe;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
}